<nav class="navbar navbar-expand-lg bg-body-tertiary">
  {{ drupal_menu('main') }}
</nav>
<div class="container-fluid">
  <div class="card mb-5" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-6">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ad/Tj%C3%B6rnbron.jpg" class="img-fluid rounded-start w-100" alt="Bild på tjörnbron">
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="card-body">
          <h5 class="card-title">Stenungsunds Amatörradioklubb</h5>
          <p class="card-text">
            Stenungsund Amatörradioklubb är en samlingsplats för radioentusiaster i Stenungsund med omnejd. Vi främjar intresset för amatörradio genom gemenskap, kunskapsutbyte och teknisk utveckling. Oavsett om du är nybörjare eller erfaren radiooperatör är du välkommen att delta i våra aktiviteter och träffar.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<h2> Vi är medlemmar i: </h2>
<section class="row">
  <section class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img src="https://www.sk6qa.se/WP/wp-content/uploads/2013/07/ssaloggan.jpg" class="card-img-top" alt="Bild till föreningens sändar amatörer">
      <div class="card-body">
        <p class="card-text">Vi är medlemmar i "Föreningens sändar amatörer"</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://www.sk6qa.se/WP/wp-content/uploads/2015/11/arrl-rev-e1522253019522.jpg" class="card-img-top" alt="The National association of amateur radio">
      <div class="card-body">
        <p class="card-text">Vi är medlemmar i "The national association of amateur radio."</p>
      </div>
    </div>
  </section>
  <section class="col-md-3">
    <img src="https://www.sk6qa.se/WP/wp-content/gallery/antenn-foer-2m-70cm-23cm-i-mars-2011/S8002378.JPG" class="img-fluid" alt="Gruppbild">
  </section>
  <section class="col-md-3">
    <img src="https://www.sk6qa.se/WP/wp-content/gallery/utstallning-februari-2016/A22-SM6AFV-vid-Kullen.jpg" class="img-fluid" alt="Amatörradio">
  </section>
  <section class="col-md-3">
    <img src="https://www.sk6qa.se/WP/wp-content/gallery/antenn-foer-2m-70cm-23cm-i-mars-2011/S8002378.JPG" class="img-fluid" alt="Mast">
  </section>
</section>
<div class="footer">
  <div class="row">
    <div class="col">
      <h2> Gå med i vår klubb nu! </h2>
      <a class="btn btn-primary" href="https://sark2025.tcstenungsund.se/basic-page/bli-medlem" role="button">Gå med</a>
      </div>
    <div class="col">
      <h2> Bankgiro/Swish </h2>
      Vår medlemsavgift är 600:- per år.
      Swish: 123 006 17 88
      Bankgiro: 468-7604
      Ange din amatörradiosignal eller ditt namn som referens.
    </div>
    <div class="col">
      <h2> Help </h2>
      FAQ
      Customer service
      How to guides
      Contact us
    </div>
    <div class="col">
    <h2> Other </h2>
    Privacy Policy
    Sitemap
    Subscriptions
    </div>
  </div>
</div>
